.cards__delete-btn {
  background-image: url("../../../image/cards-delete.svg");
  background-color: rgba(245, 245, 220, 0);
  width: 18px;
  height: 19px;
  background-position: 0;
  padding: 0;
  border: none;
  position: relative;
  right: -244px;
  bottom: -43px;
}
